.toast-container {
    background: white;
        position: fixed;
        margin: 40px 0 0 0;
        left: 50%;
        max-width: 100vw;
        transform: translateX(-50%);
        font-size: 24px;
        z-index: 20;
    @media screen and (max-width: 768px) {
        font-size: 1px;
      }
}

.toast-text {
    font-size: 24px;
    @media screen and (max-width: 768px) {
        font-size: 16px;
    }
}